@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;  
    box-sizing: border-box;
}

:root {
    /* fonts  */
    --font-primary: "Roboto";
    --font-wt-reg: 400;
    --font-wt-bold: 700;

    /* colors  */
    --primary: hsl(4, 100%, 67%);
    --st-primary: hsla(4, 100%, 67%, 0.2);
    --neutral-very-dark: hsl(234, 29%, 20%);
    --neutral-dark: hsl(235, 18%, 26%);
    --neutral-medium: hsl(231, 7%, 60%);
    --neutral-light: hsl(0, 0%, 100%);
}

/* general  */
body {
    font-family: var(--font-primary);    
    font-size: 16px;    
    font-weight: var(--font-wt-reg);
    background-color: var(--neutral-dark);
    color: var(--neutral-very-dark);
}


img {
    display: block;
    width: 100%;
}

h1, 
a,
label,
button {
    font-weight: var(--font-wt-bold);
}

h1 {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: var(--neutral-dark);
}

a:hover,
a:active {
    /* added for consistency with the button hover state */
    color: var(--primary);
}

/* main  - newsletter signup*/
.signup {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-bottom: 1em;
    background-color: var(--neutral-light);
}

.signup > div {
    width: 80%;
    margin: 2rem auto;   
}

ul {
    list-style-type: none;
    padding: 0;
    margin:1.5em 0 3em 0;    
}

li {     
    margin: 0;
    margin-top: -15px; /* to correct for the padding aligning li w/ icons */
    padding: 20px 0px 10px 35px; /* make room for icons and align w/ icons */
    font-size: 1rem;
    line-height: 1.2rem;     
    background: url("./images/icon-list.svg") no-repeat left center;  
     
}


/* signup form  */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

label,
input,
button {
    display: block;
}

label {
    font-size: 0.8rem;
    grid-row: 1;
    grid-column: 1;
}

input,
button  {
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 0.5em;
}

input {
    margin: 0.7em 0 1em 0;
    padding: 1em;
    color: var(--neutral-medium);
    border: 1px solid var(--neutral-medium);
    grid-row: 2;
    grid-column: 1 / span 2;
}

input:focus {
    outline: none;
    color: var(--neutral-dark);
    border: 1px solid var(--neutral-very-dark);
}

.error {
    font-weight: var(--font-wt-bold);
    border: 1px solid var(--primary);
    background-color: var(--st-primary);
    color: var(--primary);
}

.error-msg {
    font-size: 0.8rem;
    font-weight: var(--font-wt-bold);
    color: var(--primary);
    grid-row: 1;
    grid-column: 2;
    text-align: right;
}

button {
    background-color: var(--neutral-very-dark);
    color: var(--neutral-light);
    grid-row: 3;
    grid-column: 1 / span 2;
}   

button:focus {
    outline: none;
}

button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: var(--primary);
    box-shadow: 5px 5px 20px var(--primary);
}
/* footer  */
.attribution {
    font-size: 11px; 
    text-align: center;
    color: var(--neutral-light);
}

.attribution a {
    color: var(--primary);
}

/* success message  */
.success {
    background-color: var(--neutral-light);
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    position:absolute;
    top:0;
    left: -1000px;
}

.hidden .dismiss-btn {
    /* unfix the fixed position button so it will be hidden */
    position: relative;
}

.success-msg {
    max-width: 420px;
    height: 100%;
    margin: 5em auto;
    padding: 3em;
    background-color: var(--neutral-light);
    border-radius: 1em;
}

.success-msg p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.success-msg img {
    width: 3em;
    margin-bottom: 1.5em;
}

.dismiss-btn {
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    position: fixed;
    bottom: 0;
    left: 5%;
    width: 90%;
}

@media (min-width:500px) {
    .signup {
        margin-top: 3rem;
    }  
    
    .success {
        background-color: var(--neutral-dark);
    }

    .dismiss-btn {
        position: relative;
        margin-bottom: 0;
    }
}

@media (min-width:800px) {
    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .signup {
        margin: 3em auto 1em auto;
        width: 90%;
        max-width: 950px ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 1em;
        border-radius: 1em;        
    }

    .signup > div {
        grid-row: 1;
        grid-column: 1;
    }

    .signup img {
        grid-row: 1;
        grid-column: 2;
        height: 100%;
    }
}

